input[type=checkbox] {
    display:none;
 }

/* Heart animation */
.heart-homepage {
    display: block;
    @include heartOutline-Homepage;
    font-size: 1.35rem;
    cursor: pointer;
    user-select: none;
  & i:hover {
      @include heartGradient;
      }
  & input:checked ~ i {
      @include heartGradient;
      animation: growHeart 1s;
      }
}

.heart-menu {
    display: block;
    @include heartOutline-Menu;
    font-size: 1.35rem;
    cursor: pointer;
    user-select: none;
  & i:hover {
      @include heartGradient;
      }
  & input:checked ~ i {
      @include heartGradient;
      animation: growHeart 1s;
      }
}

@keyframes growHeart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* End Heart animation */

/* Checkmark animation */
.menu__text {
  width: calc(100% - 80px);
  transition: ease-in-out .75s; 
}

.checkmark {
    display: flex;
    height: 64px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    transform: scaleX(0);
    transform-origin: right;
    width: 0;
    transition: ease-in-out .75s;

    &-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
  }
  
  .fa-check {
    color: #99E2D0;
    font-size: .85rem;
    cursor: pointer;
    user-select: none;
  }
  
  .menu__check input:checked ~ .menu__item .checkmark {
    width: 50px;
    transition: ease-in-out .75s;
    transform: scaleX(1);
  }
  
  .menu__check input:checked ~ .menu__item .menu__text {
    width: calc(100% - 200px);
  }
  /* End Checkmark animation */

/* Fade in animation */
  @keyframes fadeIn-1 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn-2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn-3 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/* End Fade in animation */
