/* Start Location Section */
 .location {
     display: flex;
     width: 100%;
     margin-top: 64px;
     background-color: $locationGrey;
     justify-content: center;

     &__searchbar {
         display: flex;
     }

     &__icon {
         padding-right: 18px;
         font-size: 1.25rem;
         padding-top: 20px;
         padding-bottom: 20px;
     }

     &__searchfield input{
        background-color: transparent;
        border: none;
        width: 150px;
        height: 100%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        @include h3;

        &:focus {
            outline: none;
        }
    }
 }

 ::placeholder {
     @include h3;
     color: #3C3C3C;
 }
 /* End Location Section */

 /* Start Intro Section */
.intro {
    width: 100%;
    background-color: $lightGrey;
    text-align: center;
    padding: 43px 20px 57px 20px;

    &__title {
        @include h1;
        padding: 0px 45px 15px 45px;
    }

    &__description {
        @include h2-light;
        padding-bottom: 30px;
    }
}
 /* End Intro Section */

 /* Start Process Section */
 .process {
     width: 100%;
     padding: 53px 20px 68px 30px;

     @include breakpoint-up(medium) {
        width: 400px;
        margin: 0 auto;
     }

     &__title {
         @include h1;
         padding-bottom: 32px;
     }

     &__item {
         display: flex;
         align-items: center;
         background-color: $lightGrey;
         padding: 26px 32px;
         border-radius: 20px;
         margin-bottom: 25px;
         box-shadow: 0px 2px 15px rgba(0,0,0,.15);
         position: relative;

         &:last-of-type {
             margin-bottom: 0;
         }
     }

     &__item3 {
        background-color: $primaryLight;
    
        & i {
            color: $primary;
        }
     }

     &__number {
         background-color: $primary;
         padding: 4px 8px;
         border-radius: 50%;
         color: #fff;
         font-size: .875rem;
         position: absolute;
         left: -12px;
     }

     &__icon {
         color: $mediumGrey;
         font-size: 1.25rem;
         padding-right: 25px;
     }

     &__text {
         @include h3;
     }
 }
 /* End Process Section */

 /* Start Restaurants Section */
.restaurants {
    width: 100%;
    cursor: pointer;
    background-color: $lightGrey;
    padding: 65px 20px 64px 20px;

    @include breakpoint-up(medium) {
        padding-left: 50px;
        padding-right: 50px;
    }

  &__title {
      @include h1;
      padding-bottom: 28px;
  }

  &__items {
      @include breakpoint-up(large) {
          display: flex;
          flex-wrap: wrap;
          gap: 25px;
      }
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 14px;
    margin-bottom: 18px;
    position: relative;

    &:hover {
        border: 3px solid $primary;
        border-radius: 17px;
    }

    @include breakpoint-up(large) {
        width: calc(50% - 13px);
    }
  }
  
  &__image {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    width: 100%;
    height: 225px;
    object-fit:cover;
  }
  
  &__new {
    background-color: $accentLight;
    color: $accentDark;
    @include p; 
    padding: 8px 14px;
    text-align: center;
    position: absolute;
    top: 14px;
    right: 12px;
  }
  
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 15px;
  }
  
  &__text {
    width: calc(100% - 54px);
  }
  
  &__name {
    @include h2-bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
  }
  
  &__location {
    @include h2-light;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
   /* End Restaurants Section */

  


