/* Start Banner Section */
 .banner {
     position: fixed;
     top: 64px;
     object-fit: cover;
     height: 340px;
 }
 /* End Banner Section */

 /* Start Main Body Section */
 .main {
    position: relative;
    padding-top: 340px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
 }

 /* Start Menu Section */
 .menu {
     border-top-left-radius: 38px;
     border-top-right-radius: 38px;
     background-color: $lightGrey;
     padding: 40px 20px 58px 20px;

     @include breakpoint-up(medium) {
         padding-left: 50px;
         padding-right: 50px;
     }

     &__all {
         @include breakpoint-up(large) {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
         }
     }

     &__heading {
         display: flex;
         place-items: center;
         justify-content: space-between;
         padding-bottom: 37px;

         @include breakpoint-up(medium) {
            justify-content: center;
            padding-right: 0px;
         }
     }

     &__title {
         @include h1-menu;

         @include breakpoint-up(medium) {
             padding-right: 37px;
         }
     }

     &__subheading {
        @include h2-light;
        text-transform: uppercase;
        padding-bottom: 26px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0; 
            bottom: 18px;
            height: 3px;
            width: 40px;
            background-color: $accentLight;
        }
     }

     &__item {
        display: flex; 
        justify-content: space-between;
        margin-bottom: 10px;
        background-color: white;
        box-shadow: 1px 2px 15px rgba(0,0,0,.15);
        border-radius: 15px;
        cursor: pointer;
      }

      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 10px; 
      }

      &__dish {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        font-size: 1.1rem;
      }

      &__description {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0,0,0,.75);
      }
      
      &__money {
        padding: 0px 30px 10px 25px;
        align-self: flex-end;
        font-weight: bold;
        transition: ease-in-out .75s;
      }
 }

 .checkmark {
    display: flex;
    height: auto;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;

    &-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
 }

 .fa-check {
    color: #99E2D0;
    font-size: .85rem;
    cursor: pointer;
    user-select: none;
  }

 .button__commander {
     padding: 16px 50px;
     margin-top: 45px;
 }

 .entrees {
    opacity: 0;
    padding-bottom: 42px;
    animation: ease-in fadeIn-1 2s;
    animation-fill-mode: forwards;
    
    @include breakpoint-up(large) {
        width: calc(50% - 13px);
        padding-bottom: 0;
    }
 }

 .plats {
    opacity: 0;
    padding-bottom: 42px;
    animation: ease-in fadeIn-2 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    @include breakpoint-up(large) {
        width: calc(50% - 13px);
        padding-bottom: 0;
    }
 }

 .desserts {
    opacity: 0;
    animation: ease-in fadeIn-3 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    @include breakpoint-up(large) {
        width: calc(50% - 13px);
    }
 }
 /* End Menu Section */

 /* End Main Body Section */
