//colors 

$purple: #9356DC;
$pink: #FF79DA;
$teal: #99E2D0;
$darkGrey: #353535;

//font styles
$font-rob: 'Roboto', sans-serif;
$font-shrik: 'Shrikhand', sans-serif;

//font weights for Roboto
$font-thin: 100; 
$font-regular: 400; 
$font-bold: 700;

